<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.javaci.listviewexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListViewActivity1" />
        <activity android:name=".ListViewActivity2" />
        <activity android:name=".ListViewActivity6" />
        <activity android:name=".ListViewActivity3" />
        <activity android:name=".ListFragmentActivity4" />
        <activity android:name=".ListViewActivity5" />
        <activity android:name=".ListViewActivity7" />
        <activity android:name=".ListViewActivity3_1" />

    </application>

</manifest>
